---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=lerk3Z7lafYxiWO7DB4mqPiWURLkFN6X&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 09 Aug 2022 17:53:34 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=lerk3Z7lafYxiWO7DB4mqPiWURLkFN6X&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-32026032"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=lerk3Z7lafYxiWO7DB4mqPiWURLkFN6X&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-1726510869"}]}]}'
  recorded_at: Tue, 09 Aug 2022 17:53:34 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=3bbcaa2c571110a62cf542acd59d6fbf&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9847,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660067591,"sunrise":1660046789,"sunset":1660097068,"temp":86.45,"feels_like":85.55,"pressure":1016,"humidity":38,"dew_point":57.85,"uvi":9.43,"clouds":1,"visibility":10000,"wind_speed":3,"wind_deg":49,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1660067640,"precipitation":0},{"dt":1660067700,"precipitation":0},{"dt":1660067760,"precipitation":0},{"dt":1660067820,"precipitation":0},{"dt":1660067880,"precipitation":0},{"dt":1660067940,"precipitation":0},{"dt":1660068000,"precipitation":0},{"dt":1660068060,"precipitation":0},{"dt":1660068120,"precipitation":0},{"dt":1660068180,"precipitation":0},{"dt":1660068240,"precipitation":0},{"dt":1660068300,"precipitation":0},{"dt":1660068360,"precipitation":0},{"dt":1660068420,"precipitation":0},{"dt":1660068480,"precipitati[...]
