---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=lerk3Z7lafYxiWO7DB4mqPiWURLkFN6X&location=denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 08 Aug 2022 01:55:09 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=lerk3Z7lafYxiWO7DB4mqPiWURLkFN6X&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-544978687"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=lerk3Z7lafYxiWO7DB4mqPiWURLkFN6X&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-14284555"}]}]}'
  recorded_at: Mon, 08 Aug 2022 01:55:09 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=3bbcaa2c571110a62cf542acd59d6fbf&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9847,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1659923650,"sunrise":1659873875,"sunset":1659924411,"temp":66.22,"feels_like":66.25,"pressure":1019,"humidity":79,"dew_point":59.52,"uvi":0,"clouds":100,"visibility":3909,"wind_speed":5.99,"wind_deg":354,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1659923700,"precipitation":0},{"dt":1659923760,"precipitation":0},{"dt":1659923820,"precipitation":0},{"dt":1659923880,"precipitation":0},{"dt":1659923940,"precipitation":0},{"dt":1659924000,"precipitation":0},{"dt":1659924060,"precipitation":0},{"dt":1659924120,"precipitation":0},{"dt":1659924180,"precipitation":0},{"dt":1659924240,"precipitation":0},{"dt":1659924300,"precipitation":0},{"dt":1659924360,"precipitation":0},{"dt":1659924420,"precipitation":0},{"dt":1659924480,"precipitation":0},{"dt":1659924540,"precipitati[...]
